.slotMachine{
	width:68px;
	height: 68px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	border: 5px solid #000;
	background-color: #ffffff;
}

.slotMachine .slot{
	width:68px;
	height:140px;
	background-position: 0px;
}

.imgFormStorymachine{
	display: inline-block;
	width: 68px;
	height: 68px;	
}

.arrowForm{
	background:url(images/arrow.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-bottom: 25px;
	margin-top: 0px;
	width: 57px;
	height: 15px;  
}

.slot1{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_1.png"); }
.slot2{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_2.png"); }
.slot3{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_3.png"); }
.slot4{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_4.png"); }
.slot5{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_5.png"); }
.slot6{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_6.png"); }
.slot7{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_7.png"); }
.slot8{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_8.png"); }
.slot9{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_9.png"); }
.slot10{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_10.png"); }
.slot11{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_11.png"); }
.slot12{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_12.png"); }
.slot13{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_13.png"); }
.slot14{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_14.png"); }
.slot15{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_15.png"); }
.slot16{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_16.png"); }
.slot17{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_17.png"); }
.slot18{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_18.png"); }
.slot19{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_19.png"); }
.slot20{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_20.png"); }
.slot21{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_21.png"); }
.slot22{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_22.png"); }
.slot23{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_23.png"); }
.slot24{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_24.png"); }
.slot25{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_25.png"); }
.slot26{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_26.png"); }
.slot27{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_27.png"); }
.slot28{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_28.png"); }
.slot29{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_29.png"); }
.slot30{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_30.png"); }
.slot31{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_31.png"); }
.slot32{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_32.png"); }
.slot33{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_33.png"); }
.slot34{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_34.png"); }
.slot35{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_35.png"); }
.slot36{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_36.png"); }
.slot37{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_37.png"); }
.slot38{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_38.png"); }
.slot39{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_39.png"); }
.slot40{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_40.png"); }
.slot41{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_41.png"); }
.slot42{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_42.png"); }
.slot43{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_43.png"); }
.slot44{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_44.png"); }
.slot45{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_45.png"); }
.slot46{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_46.png"); }
.slot47{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_47.png"); }
.slot48{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_48.png"); }
.slot49{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_49.png"); }
.slot50{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_50.png"); }
.slot51{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_51.png"); }
.slot52{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_52.png"); }
.slot53{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_53.png"); }
.slot54{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_54.png"); }
.slot55{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_55.png"); }
.slot56{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_56.png"); }
.slot57{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_57.png"); }
.slot58{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_58.png"); }
.slot59{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_59.png"); }
.slot60{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_60.png"); }
.slot61{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_61.png"); }
.slot62{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_62.png"); }
.slot63{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_63.png"); }
.slot64{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_64.png"); }
.slot65{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_65.png"); }
.slot66{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_66.png"); }
.slot67{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_67.png"); }
.slot68{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_68.png"); }
.slot69{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_69.png"); }
.slot70{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_70.png"); }
.slot71{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_71.png"); }
.slot72{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_72.png"); }
.slot73{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_73.png"); }
.slot74{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_74.png"); }
.slot75{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_75.png"); }
.slot76{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_76.png"); }
.slot77{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_77.png"); }
.slot78{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_78.png"); }
.slot79{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_79.png"); }
.slot80{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_80.png"); }
.slot81{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_81.png"); }
.slot82{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_82.png"); }
.slot83{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_83.png"); }
.slot84{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_84.png"); }
.slot85{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_85.png"); }
.slot86{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_86.png"); }
.slot87{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_87.png"); }
.slot88{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_88.png"); }
.slot89{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_89.png"); }
.slot90{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_90.png"); }
.slot91{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_91.png"); }
.slot92{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_92.png"); }
.slot93{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_93.png"); }
.slot94{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_94.png"); }
.slot95{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_95.png"); }
.slot96{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_96.png"); }
.slot97{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_97.png"); }
.slot98{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_98.png"); }
.slot99{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_99.png"); }
.slot100{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_100.png"); }
.slot101{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_101.png"); }
.slot102{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_102.png"); }
.slot103{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_103.png"); }
.slot104{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_104.png"); }
.slot105{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_105.png"); }
.slot106{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_106.png"); }
.slot107{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_107.png"); }
.slot108{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_108.png"); }
.slot109{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_109.png"); }
.slot110{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_110.png"); }
.slot111{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_111.png"); }
.slot112{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_112.png"); }
.slot113{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_113.png"); }
.slot114{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_114.png"); }
.slot115{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_115.png"); }
.slot116{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_116.png"); }
.slot117{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_117.png"); }
.slot118{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_118.png"); }
.slot119{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_119.png"); }
.slot120{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_120.png"); }
.slot121{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_121.png"); }
.slot122{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_122.png"); }
.slot123{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_123.png"); }
.slot124{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_124.png"); }
.slot125{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_125.png"); }
.slot126{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_126.png"); }
.slot127{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_127.png"); }
.slot128{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_128.png"); }
.slot129{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_129.png"); }
.slot130{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_130.png"); }
.slot131{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_131.png"); }
.slot132{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_132.png"); }
.slot133{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_133.png"); }
.slot134{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_134.png"); }
.slot135{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_135.png"); }
.slot136{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_136.png"); }
.slot137{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_137.png"); }
.slot138{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_138.png"); }
.slot139{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_139.png"); }
.slot140{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_140.png"); }
.slot141{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_141.png"); }
.slot142{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_142.png"); }
.slot143{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_143.png"); }
.slot144{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_144.png"); }
.slot145{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_145.png"); }
.slot146{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_146.png"); }
.slot147{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_147.png"); }
.slot148{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_148.png"); }
.slot149{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_149.png"); }
.slot150{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_150.png"); }
.slot151{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_151.png"); }
.slot152{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_152.png"); }
.slot153{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_153.png"); }
.slot154{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_154.png"); }
.slot155{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_155.png"); }
.slot156{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_156.png"); }
.slot157{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_157.png"); }
.slot158{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_158.png"); }
.slot159{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_159.png"); }
.slot160{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_160.png"); }
.slot161{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_161.png"); }
.slot162{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_162.png"); }
.slot163{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_163.png"); }
.slot164{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_164.png"); }
.slot165{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_165.png"); }
.slot166{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_166.png"); }
.slot167{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_167.png"); }
.slot168{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_168.png"); }
.slot169{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_169.png"); }
.slot170{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_170.png"); }
.slot171{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_171.png"); }
.slot172{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_172.png"); }
.slot173{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_173.png"); }
.slot174{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_174.png"); }
.slot175{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_175.png"); }
.slot176{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_176.png"); }
.slot177{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_177.png"); }
.slot178{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_178.png"); }
.slot179{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_179.png"); }
.slot180{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_180.png"); }
.slot181{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_181.png"); }
.slot182{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_182.png"); }
.slot183{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_183.png"); }
.slot184{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_184.png"); }
.slot185{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_185.png"); }
.slot186{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_186.png"); }
.slot187{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_187.png"); }
.slot188{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_188.png"); }
.slot189{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_189.png"); }
.slot190{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_190.png"); }
.slot191{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_191.png"); }
.slot192{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_192.png"); }
.slot193{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_193.png"); }
.slot194{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_194.png"); }
.slot195{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_195.png"); }
.slot196{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_196.png"); }
.slot197{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_197.png"); }
.slot198{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_198.png"); }
.slot199{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_199.png"); }
.slot200{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_200.png"); }
.slot201{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_201.png"); }
.slot202{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_202.png"); }
.slot203{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_203.png"); }
.slot204{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_204.png"); }
.slot205{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_205.png"); }
.slot206{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_206.png"); }
.slot207{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_207.png"); }
.slot208{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_208.png"); }
.slot209{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_209.png"); }
.slot210{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_210.png"); }
.slot211{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_211.png"); }
.slot212{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_212.png"); }
.slot213{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_213.png"); }
.slot214{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_214.png"); }
.slot215{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_215.png"); }
.slot216{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_216.png"); }
.slot217{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_217.png"); }
.slot218{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_218.png"); }
.slot219{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_219.png"); }
.slot220{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_220.png"); }
.slot221{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_221.png"); }
.slot222{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_222.png"); }
.slot223{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_223.png"); }
.slot224{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_224.png"); }
.slot225{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_225.png"); }
.slot226{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_226.png"); }
.slot227{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_227.png"); }
.slot228{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_228.png"); }
.slot229{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_229.png"); }
.slot230{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_230.png"); }
.slot231{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_231.png"); }
.slot232{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_232.png"); }
.slot233{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_233.png"); }
.slot234{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_234.png"); }
.slot235{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_235.png"); }
.slot236{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_236.png"); }
.slot237{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_237.png"); }
.slot238{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_238.png"); }
.slot239{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_239.png"); }
.slot240{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_240.png"); }
.slot241{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_241.png"); }
.slot242{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_242.png"); }
.slot243{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_243.png"); }
.slot244{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_244.png"); }
.slot245{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_245.png"); }
.slot246{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_246.png"); }
.slot247{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_247.png"); }
.slot248{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_248.png"); }
.slot249{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_249.png"); }
.slot250{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_250.png"); }
.slot251{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_251.png"); }
.slot252{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_252.png"); }
.slot253{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_253.png"); }
.slot254{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_254.png"); }
.slot255{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_255.png"); }
.slot256{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_256.png"); }
.slot257{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_257.png"); }
.slot258{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_258.png"); }
.slot259{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_259.png"); }
.slot260{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_260.png"); }
.slot261{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_261.png"); }
.slot262{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_262.png"); }
.slot263{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_263.png"); }
.slot264{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_264.png"); }
.slot265{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_265.png"); }
.slot266{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_266.png"); }
.slot267{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_267.png"); }
.slot268{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_268.png"); }
.slot269{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_269.png"); }
.slot270{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_270.png"); }
.slot271{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_271.png"); }
.slot272{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_272.png"); }
.slot273{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_273.png"); }
.slot274{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_274.png"); }
.slot275{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_275.png"); }
.slot276{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_276.png"); }
.slot277{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_277.png"); }
.slot278{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_278.png"); }
.slot279{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_279.png"); }
.slot280{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_280.png"); }
.slot281{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_281.png"); }
.slot282{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_282.png"); }
.slot283{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_283.png"); }
.slot284{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_284.png"); }
.slot285{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_285.png"); }
.slot286{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_286.png"); }
.slot287{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_287.png"); }
.slot288{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_288.png"); }
.slot289{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_289.png"); }
.slot290{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_290.png"); }
.slot291{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_291.png"); }
.slot292{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_292.png"); }
.slot293{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_293.png"); }
.slot294{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_294.png"); }
.slot295{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_295.png"); }
.slot296{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_296.png"); }
.slot297{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_297.png"); }
.slot298{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_298.png"); }
.slot299{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_299.png"); }
.slot300{ background-repeat: no-repeat; background-image: url("images/slot-images/300icone_300.png"); }